<div class='well span6 center'> 
<%= render 'shared/content_title', title: '登入' %>
  <div>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: 'btn btn-success btn-small' %>
  </div>
  <%= form_tag '/login' do %>
    <div class='control-group'>
      <%= label_tag :user_name %>
      <%= text_field_tag :user_name %>
    </div>
    <div class='control-group'>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <%= submit_tag '登入', class: 'btn btn-success' %>
    <%= link_to '尚未註冊?', register_path %>
  <% end %>
</div>