<!-- This partial is only for user's info page -->
<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 post">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
    <h4 class="lead one-line-title"><%= link_to post.title, post_path(post) %></h4>
  </div>
  <iframe width="320" height="180" src="//www.youtube.com/embed/<%= post.youtube_video_id %>" frameborder="0" allowfullscreen></iframe>
  <br>
  <div id="action_column_left_<%=post.id%>" class="col-xs-4 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 action_column_left">
    <%= render 'shared/social_share_column', post: post %>
  </div>
  <div id="action_column_right_<%=post.id%>" class="col-xs-8 col-sm-7 col-md-7 col-lg-7  action_column_right">
    <%= render 'progress_bar', post: post %>
  </div>
</div>
