<div class='well span6 center'>
  <%= render 'shared/content_title', title: '註冊' %>
  <%= form_for @user do |f| %>
    <%= render 'shared/errors', obj: @user %>
    <div class='control-group'>
      <%= f.label :user_name %>
      <%= f.text_field :user_name %>
    </div>
    <div class='control-group'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <%= f.submit '註冊', class: "btn btn-success" %>
  <% end %>
</div>