<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab] == 'ups' %>user_tab'>
    <%= link_to "喜歡 (#{@user.votes.where(vote: true).size})", user_path(@user, tab: 'ups') %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'downs' %>user_tab'>
    <%= link_to "討厭(#{@user.votes.where(vote: false).size})", user_path(@user, tab: 'downs') %>
  </li>
</ul>

<% if params[:tab] == 'ups' %>
  <div id="main_items" class="center2">
    <% @post_vote_true.each do |post| %>
      <%= render 'post', post: post, tab: 'ups' %>
    <% end %>
  </div>
  <div class="paginate">
    <%= paginate @post_vote_true, remote: true %>
  </div>
<% elsif params[:tab] == 'downs' %>
  <div id="main_items" class="center2">
    <% @post_vote_false.each do |post| %>
      <%= render 'post', post: post %>
    <% end %>
  </div>
  <div class="paginate">
    <%= paginate @post_vote_false, remote: true %>
  </div>
<% end %>




