<div class='well span6 center'>
  <%= image_tag @user.image_url %>
  <%= @user.user_name %>
</div>

<ul class='nav nav-tabs'>
  <li class='<%= 'active' if params[:tab] == 'ups' %>'>
    <%= link_to "喜歡 (#{@user.votes.where(vote: true).size})", user_path(@user, tab: 'ups') %>
  </li>
  <li class='<%= 'active' if params[:tab] == 'downs' %>'>
    <%= link_to "討厭(#{@user.votes.where(vote: false).size})", user_path(@user, tab: 'downs') %>
  </li>
</ul>

<% if params[:tab] == 'ups' %>
  <% @user.votes.where(vote: true).each do |vote| %>
    <%= render 'posts/post', post: Post.find(vote.voteable_id) %>
  <% end %>
<% elsif params[:tab] == 'downs' %>
  <% @user.votes.where(vote: false).each do |vote| %>
    <%= render 'posts/post', post: Post.find(vote.voteable_id) %>
  <% end %>
<% end %> 