<% if logged_in? %>
  <div id="fb_share_<%=post.id%>" class="social_share_column" >
    <%= image_tag("facebook_share.png", alt: "share", size: "108x40") %>
  </div>

<% else %>
  <div class="social_share_column">
    <%= link_to image_tag("facebook_share.png", alt: "login", size: "108x40"), login_path %>
  </div>
<% end %>

  <script type='text/javascript'>
    $("#action_column_left_<%=post.id%>").on('click','#fb_share_<%= post.id %>', function(){
      FB.ui({
        method: 'share',
        href: 'http://www.ad-judge.com/posts/<%= post.slug %>',
      }, function(response){});
    });
  </script>
<% binding.pry %>
  