<%= render 'shared/errors', obj: @post %>

<%= form_for @post do |f| %>
  <div class='form-group'>
    <%= f.label :url , '廣告連結'%>
    <%= f.text_field :url, :id => 'url' %>
    <div class="selector-wrapper"></div>
  </div>
  <br>
  <div class='form-group'>
    <%= f.label :language, '廣告語系' %>
    <%= f.select :language, [['英文', 'english'], ['中文' ,'chinese'], ['日文', 'japanese']] %>
  </div> 
  <%= f.submit(@post.new_record? ? '上傳' : '完成', class: 'btn btn-primary black') %>
  <%= link_to '取消', root_path(order: 'the_latest'),  class: 'btn btn-danger black' %>
<% end %>