<div class="span5 well">
  <h4 class="one-line-title"><%= link_to post.title, post_path(post) %></h4>
    <iframe width="360" height="202" src="//www.youtube.com/embed/<%== fix_embedded_url(post.url) %>" frameborder="0" allowfullscreen></iframe>
  <hr>
  <% if logged_in? && current_user.votes.pluck(:voteable_id).include?(post.id) %>
    <div id="action_column_left_<%=post.id%>" class="span2 action_column_left">
      <%= render 'shared/social_share_column', post: post %>
    </div>
    <div id="action_column_right_<%=post.id%>" class="span3 action_column_right">
      <%= render 'shared/progress_bar', post: post %>
    </div>
  <% else %>
    <div id="action_column_left_<%=post.id%>" class="span2 action_column_left">
      <%= render 'shared/vote_buttons', post: post %>
    </div>
    <div id="action_column_right_<%=post.id%>" class="span3 action_column_right">
      <br>
      <div class="progress">
        <div class="bar" style="width: 0%;"></div>
      </div>
    </div>
  <% end %>
</div>

