<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 post_decoration">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
    <h4 class="one-line-title"><%= link_to post.title, post_path(post) %></h4>
  </div>
  <iframe width="320" height="180" src="//www.youtube.com/embed/<%== fix_embedded_url(post.url) %>" frameborder="0" allowfullscreen></iframe>
  <br>
  <% if logged_in? %>
    <div id="action_column_left_<%=post.id%>" class="col-xs-4 col-sm-4 col-md-4 col-lg-4 action_column_left">
      <%= render 'shared/vote_buttons', post: post %>
    </div>  
  <% else %>
    <div id="action_column_left_<%=post.id%>" class="col-xs-4 col-sm-4 col-md-4 col-lg-4  action_column_left">
      <%= render 'shared/fake_vote', post: post %>
    </div>
  <% end %>
    <div id="action_column_right_<%=post.id%>" class="col-xs-8 col-sm-8 col-md-8 col-lg-8  action_column_right">
      <div class="vote_result_text">
        投票，看看多少人和你一樣
      </div>
      <br>
    <div class="progress col-xs-12 col-sm-10 col-md-10 col-lg-8 vote_progress">
      <div class="progress-bar" style="width: 0%;"></div>
    </div>
  </div>
</div>