<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 post center">
  <%= render 'shared/content_title', title: @post.title %>
  <iframe width="320" height="180" src="//www.youtube.com/embed/<%= @post.youtube_video_id %>" frameborder="0" allowfullscreen></iframe>
  <br>  
  <% if logged_in? && current_user.votes.pluck(:voteable_id).include?(@post.id) %>
    <div id="action_column_left_<%=@post.id%>" class="col-xs-4 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 action_column_left">
      <%= render 'shared/social_share_column', post: @post %>
    </div>
    <div id="action_column_right_<%=@post.id%>" class="col-xs-8 col-sm-7 col-md-7 col-lg-7  action_column_right">
      <%= render 'shared/progress_bar', post: @post, vote: current_user.votes.find_by(voteable_id: @post.id) %>
    </div>
  <% elsif logged_in? %>
    <div id="action_column_left_<%=@post.id%>" class="col-xs-4 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 action_column_left">
      <%= render 'shared/vote_buttons', post: @post %>
    </div>
    <div id="action_column_right_<%=@post.id%>" class="col-xs-8 col-sm-7 col-md-7 col-lg-7  action_column_right">
      <div class="vote_result_text">
        投票，看看多少人和你一樣
      </div>
      <br>
      <div class="progress col-xs-11 col-sm-7 col-md-9 col-lg-7 vote_progress">
        <div class="progress-bar progress-bar-success" style= "width: 50%;"></div>
        <div class="progress-bar progress-bar-warning" style= "width: 50%;" ></div>
      </div>
    </div>
  <% else %>
    <div id="action_column_left_<%=@post.id%>" class="col-xs-4 col-sm-3 col-sm-offset-2 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2  action_column_left">
      <%= render 'shared/fake_vote', post: @post %>
    </div>
    <div id="action_column_right_<%=@post.id%>" class="col-xs-8 col-sm-7 col-md-7 col-lg-7  action_column_right">
      <div class="vote_result_text">
        投票，看看多少人和你一樣
      </div>
      <br>
      <div class="progress col-xs-11 col-sm-7 col-md-9 col-lg-7 vote_progress">
        <div class="progress-bar progress-bar-success" style= "width: 50%;"></div>
        <div class="progress-bar progress-bar-warning" style= "width: 50%;" ></div>
      </div>
    </div>
  <% end %>
  <br>
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
    <% if logged_in? %>
      <% if current_user == @post.creator %>
        <p>
          [<%= link_to 'edit this post', edit_post_path(@post) %>]
        </p>
      <% end %>
      <%= form_for [@post, @comment] do |f| %>
        <%= render 'shared/errors', obj: @comment %>
        <div class='row form-group'>
        <%= f.text_area :body, rows: 3, placeholder: '請留言：', class: 'col-xs-12 col-sm-8 col-md-12 col-lg-12 center' %>
        <br>
        <%= f.submit "新增留言", class: "btn btn-primary black" %>
        </div> 
      <% end %>
    <% end %>
  </div>
  <br>
  <br>
      <% @post.reload.comments.each do |comment| %>
      <%= render 'comments/comment', comment: comment %>
    <% end %> 

</div>

