<%= render 'shared/content_title', title: @post.title %>

<div class='center'>
  <%=raw @post.embedded_url %> <!-- Need helper to modify video size -->
  <% if logged_in? %>
    <p>
      [<%= link_to 'edit this post', edit_post_path(@post) %>]
    </p>
    <%= form_for [@post, @comment] do |f| %>
      <%= render 'shared/errors', obj: @comment %>
      <div class='row control-group'>
  <!--       <%= f.label :body  %> -->
        <%= f.text_area :body, rows: 3, placeholder: '請留言：', class: 'span4' %>
        <%= f.submit "新增留言", class: "btn btn-primary" %>
      </div> 
    <% end %>
  <% end %>
</div>  
<h5>Comments</h5>

<% @post.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>


