<div class="navbar-header">
  <button type="button" class="navbar-toggle navbar-xs" data-toggle="collapse" data-target=".navbar-collapse">
    <span class="logo-xs">
      <%= link_to image_tag("adjudge_logo.png", alt: "Ad Judge", size: "113x26"), root_path%>
    </span>
    <span class="glyphicon glyphicon-align-justify toggle-xs"></span>
  </button>

</div>
<div class="collapse navbar-collapse">
  <ul class="nav navbar-nav">
    <li class="dropdown">
      <%= link_to('',  class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do %>
        <span class='glyphicon glyphicon-align-justify'></span>
      <% end %>
        <ul class='dropdown-menu dropdown-menu-left'>
          <li>
            <%= link_to root_path(order: 'up_votes') do %>
              最多人喜歡的廣告
            <% end %>
          </li>
          <li>
            <%= link_to root_path(order: 'down_votes') do %>
              最多人討厭的廣告
            <% end %>
          </li>        
          <li>
            <%= link_to root_path(order: 'the_latest') do %>
              最新的廣告
            <% end %>
          </li>
        </ul>
    </li>
    <li class="logo hidden-xs">
      <%= link_to image_tag("adjudge_logo.png", alt: "Ad Judge", size: "113x26"), root_path%>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
  <% if logged_in? %>
    <li class="dropdown">
      <%= link_to('',  class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do %>
        <%= current_user.user_name %>
        
      <% end %>
      <ul class='dropdown-menu dropdown-menu-right'>
        <li>
          <%= link_to user_path(current_user) do %>
            <span class='glyphicon glyphicon-user'></span>
            我的裁決
          <% end %>
        </li>
        <li>
          <%= link_to logout_path do %>
            <span class='glyphicon glyphicon-circle-arrow-left'></span>
            登出
          <% end %>
        </li>
        <% if current_user.admin? %>
          <li>
            <%= link_to new_post_path do %>
              <span class='glyphicon glyphicon-cloud-upload'></span>
              上傳廣告
            <% end %>
          </li> 
        <% end %>
      </ul>
    </li>
  <% else %>
    <li>
      <%= link_to "登入", login_path %>
    </li>
  <% end %>
  </ul>
</div>
