<ul class="nav nav-extend">
  <li class="leftHeaderContent">
    <%= link_to "瀏覽", root_path %>
  </li>
  <li class="logo">
    <%= link_to image_tag("adjudge_logo.png", alt: "Ad Judge", size: "113x26"), root_path%>
  </li>

  <% if logged_in? %>
    <li class="dropdown rightHeaderContent">
      <%= link_to('',  class: 'dropdown-toggle', 'data-toggle' => 'dropdown') do %>
        <%= current_user.user_name %>
        <span class='caret'></span>
      <% end %>
      <ul class='dropdown-menu'>
        <li>
          <%= link_to user_path(current_user) do %>
            <i class='icon-user'></i>
            我的裁決
          <% end %>
        </li>
        <li>
          <%= link_to new_post_path do %>
            <i class='icon-plus'></i>
            上傳廣告
          <% end %>
        </li>        
        <li>
          <%= link_to logout_path do %>
            <i class='icon-circle-arrow-left'></i>
            登出
          <% end %>
        </li>
      </ul>
    </li>
  <% else %>
    <li class="rightHeaderContent">
      <%= link_to "登入", login_path %>
    </li>
  <% end %>
</ul>

