<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <title>廣告裁判</title>
    <meta name="description" content="Ads worth spreading">
    <meta name="author" content="">
    <%= yield :specific_og_metas %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script src="http://cdn.embed.ly/jquery.embedly-3.0.5.min.js" type="text/javascript"></script>
    <script src="http://cdn.embed.ly/jquery.preview-0.3.2.min.js" type="text/javascript"></script> 
    <link rel="stylesheet" href="http://cdn.embed.ly/jquery.preview-0.3.2.css" />
    <%= favicon_link_tag %>
  </head>
  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= Settings.facebook.key %>',
          xfbml      : true,
          version    : 'v2.0'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/zh_TW/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <header>
      <nav class="navbar navbar-fixed-top navbar-inverse center" role="navigation">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
        
    <div id="main" role="main">
      <div class="container center container_decoration">
         <div class="row center">
          <div class="col-sm-12 col-mid-12 col-lg-12 center row_decoration">
            <%= render 'layouts/messages' %>
            <%= yield %>
          </div>
        </div>
        <footer>
        </footer>
      </div> <!--! end of .container -->
    </div> <!--! end of #main -->
    
    <%= yield :facebook_share_dialog_og %>
  </body>
</html>
